﻿<!-- BEGIN SECTION: logged_in_usr -->
<div class="bottom_menu">
    <a href="/website_add">Add Web-Site</a>
    <a href="/my_websites">My Web-Sites</a>
    <a href="/my_settings">My Profile</a>
    <a href="/promo">My Promotions</a>
{MENU_ADMIN}
</div>
<!-- END SECTION: logged_in_usr -->
</div>
<div class="footer">
    <br>
    <p>&copy; {HOSTING_TITLE} - Most Simple Hosting. <a href="/terms">Terms &amp; conditions</a></p>
    <br>
    <p>Powered by <a href="http://download.mrhost.me">Mister Host Panel</a></p>
</div></div></div></div>
</body>
</html>