<div class="txt">
<!-- BEGIN SECTION: is_error -->
			<h2>Error Messages:</h2>
			<div class="error">
			<ul>
<!-- BEGIN DYNAMIC BLOCK: row_MSG -->
			<li>{MESSAGES}</li>
<!-- END DYNAMIC BLOCK: row_MSG -->
			</ul>
			</div>

<!-- END SECTION: is_error -->
<!-- BEGIN SECTION: main -->

<h1>Forgot Password?</h1>


<br/>
<div class="txt">
<form name="form1" method="post" action="">
<fieldset>
<p>Login:</p>
<input type="text" name="login" value="{LOGIN}" class="inp"/><br/><br/>
<input type="submit" class="button" value="Send pass"/>
</fieldset>				
</form>
</div>
<!-- END SECTION: main -->

<!-- BEGIN SECTION: no_error -->
<h1>Password has been sent</h1>
<div class="txt">
<p>Password for login <b>{LOGIN}</b> has been sent to email mentioned in registration.<br/> If you need futher help, contact our <a href="mailto:onekit@gmail.com">support service</a>.</p>
<br/>
<input type="button" class="button" value="Continue" onClick="parent.location='/'">
</div>
<!-- END SECTION: no_error -->                                                                       

</div>