body { margin: 25px;}
.center {width:900px; margin:0 auto;}
a {font:bold 12px Verdana; color: #2878a7; text-decoration:underline;}
h2 {font:bold 17px Arial; color: #cc7d00; text-decoration:none;margin:10px 0 0 0;}
h3{font:bold 15px Arial; color: #5d5d5d; text-decoration:none; margin: 0;padding:0;}

.message { font: bold 20px Arial; position:fixed;z-index:8; bottom: 30px;left:30px; margin-right: auto; margin-top:auto; color: #fff; background-color: #bbb; padding: 20px; border: solid 1px #bbb;}
.message_off{display:none;}

input[type=text],input[type=password] {
    padding: 5px;
}
.inp {font:bold 18px Arial; width:248px; height:22px; border:solid 1px #ffa800; margin:0 0 0 -3px;}
.inpltl {font:bold 18px Arial; width:48px; height:22px; border:solid 1px #ffa800; margin:0 0 0 -3px;}


/* HEADER */
.header { float: right; display: table; }
.logo {float:left; width:189px; height:77px; background:url('../img/logo.png') no-repeat; margin:15px 50px 10px 10px;}
.main_cont {width:900px; display: table; clear: both;}
.top_menu {width:320px; float:left;border: solid 0 black; margin: 50px 0 0 60px;}
.top_menu a {font: bold 18px Arial;color: #d79b27; margin:0 20px 0 0; text-decoration:none;}
.top_menu a:hover {text-decoration:underline;color: #d79b27;}

.addfunds {font: bold 21px Arial;color: #69ae2d; margin:0; text-decoration:none;}


/*LEFT*/
.left { border:solid 0 black; float:left; margin:10px 0 0 0; }
.left a {font:normal 12px Arial; color: #2878a7; text-decoration:underline;}
.left a:hover {text-decoration:none;}
.left h1 {font:bold 14pt Arial; color: #cc7d00; text-decoration:none;clear:both;}
.left p {font:normal 12pt Arial; color: #5d3d09; text-decoration:none;}
.left ul {border:solid 0 black; float:left; margin:10px 0 0 20px;}
.left li{font:normal 20px Arial; color: #cc7d00; text-decoration:none;}
.left b{font:bold 25pt Arial; color: #00bb00; text-decoration:none; }

.hi_li li { color: #111; }

.i_bag {float:right;margin-right:25px;}
a.h1l {font:bold 13px Arial; color: #2878a7;}
a.h2 {font:bold 12px Arial; color: #2878a7;margin:5px 0 5px 5px;}
.h2{margin:5px 0 5px 0;}
.h2 img{margin:2px 0 -3px 0; width:16px;}
a.h2sel,.h2sel {font:bold 12px Arial; color: #2878a7;text-decoration:none;margin:5px 0 5px 5px;}
.h2{margin:5px 0 5px 0;}
.h2sel img{margin:2px 0 -3px 0; width:16px;}

/*RIGHT*/
.right {width:295px; border:solid 0 black; float:right; margin:0 0 0 0;}
.right .h2{color:#6ea128; font:bold 14px Arial; text-align:left; text-decoration:underline; margin:0px 0 -20px 20px;}
.right h1{font:bold 18px Arial; color: #195f83; text-decoration:none; margin: 3px 0 10px 0;}
.right h4{font:bold 14px Arial; color: #195f83; text-decoration:none; margin: 3px 0 10px 0; text-align:center;}
.right p{font:normal 12px Tahoma; color: #405d50; margin: 10px 0 0 0; line-height:14px;text-align:left;}
b {font-weight:bold;}
ul {margin:10px 0 10px 0;}


.i_menu_i {margin: 0 3px -5px 0;}

.signup {width:360px; float:left; margin:10px 0 0 0;}
.signup .button {
    font: bold 25px Arial;
    padding: 15px;
    border-radius: 15px;
    margin: 0 0 0 88px;
}
.button {
    margin: 0 0 0 50px;
    float: left;
    display: table;
    text-align: center;
    font: bold 24px Arial;
    color: #fff;

    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    line-height: 43px;
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: solid 2px #700000;
    text-decoration: none;
    padding: 0 15px;
}
.button:active {
    border-width: 3px 2px 1px 2px;
}

.auth {width:260px; height:270px; border:solid 0 #ffa800; float:right; margin:20px 0 0 0; }
.auth p {font:bold 12px Arial; color: #cc7d00; text-decoration:none; margin:10px 0 0 0;}
.b_login {margin:15px 6px 0 0; float:right;}
.authinp {font:bold 18px Arial; width:248px; height:22px; border:solid 1px #ffa800; margin:0 0 0 -3px;}


/*FOOTER*/
.footer {width:880px; border:solid 0 black;  margin:10px 0 0 0;position:relative; clear:both; display: table; }
.ltxt {border:solid 0 black; margin:0 0 0 30px;}

.footer a {font:bold 10px Verdana; color: #7e7e7e; text-decoration:underline;}
.footer a:hover {color: #bddee5; text-decoration:none;}
.footer h1{font:bold 18px Arial; color: #195f83; text-decoration:none; margin: 0;}
.footer p{font:normal 10px Verdana; color: #a3a3a3; text-decoration:none; margin: 0; line-height:18px; text-indent:18px;}

/*AUTH*/
.ltl {font: bold 9px Arial;color:#c0c0c0; margin:0;}
.txt {border: solid 0 black; text-align: justify;}
.txt li {font:bold 12px Tahoma; color: #3a3a3a; text-decoration:none; margin: 0; line-height:14px;}
.error li{color: red; font: normal 17px Arial;margin-bottom:10px;}
.row {padding: 1px; font: normal 16px Arial;}
.row a {font: normal 21px Arial;text-decoration:none;}
.bgline2 { background-color: #ddd; padding: 5px;}
.pages { margin: 10px; font: normal 18px Arial;clear:both;}
a.pagelink {font: normal 18px Arial; padding: 3px 5px 3px 5px; background-color: #eee; text-decoration: none;}
a.menu {font: normal 15px Arial;text-decoration:none;}


.tla {margin: 0; display: table; clear: both;}
.tla p{ margin: 30px 0 0 0;line-height: 20px;
font: normal 12pt Arial;
}
.tla ul li {
    font: normal 8pt Arial;
    margin:0;
    color: #000;
    text-decoration: none;
}

.tla ul li a {
    color: #2878A7;
    margin:0;
    font: normal 11pt Arial;
    text-decoration: underline;

}

#recaptcha_table a {
    margin:0;
    padding:0;
    border: solid 1px red;
    display: table;

}